html {
    height: 100%;
    width: 100%;
    margin: 0;
}
#port>nav {
    display: block;
    width: 100%;
    height: 25px;
    background-color: #e6b241;
    color: #e292d7;
}
#navigation a {
    display: inline-block;
    width: 15%;
    height: 25px;
    color: #b361a8;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
#port>nav a:visited {
    color: mediumpurple;}
#port>nav a:hover {
    color: hotpink;
}
#port {
    background-image: url(https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ix)
}
#res {
    color: white;
    background-image: url(img/back1r2.png);
    background-repeat: no-repeat;
    background-size: 200%;
}
#res>nav {
    display: block;
    width: 100%;
    height: 25px;
    background-color: black;
    color: whitesmoke;
}
#res>nav a{
    display: inline-block;
    width: 15%;
    height: 25px;
    color: darkgrey;
}
#res>nav a:visited {
    color: goldenrod;}
#res>nav a:hover {
    color: lime;
}
#pro {
    padding: 20px;
    color: white;
    background-image: url(img/back2.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#pro>nav {
    display: block;
    width: 100%;
    background-color: #d95ed9;
    color: #53c4ea;
}
#pro>nav a{
    display: inline-block;
    width: 15%;
    height: 25px;
    color: blue;
    font-family: 'Montserrat', sans-serif;
}
#pro>nav a:visited {
    color: cyan;}
#pro>nav a:hover {
    color: greenyellow;
}
.pg2 a {
    color: cyan;}
.pg2 a:hover {
    color: deeppink;
}
#ref {
    background-image: url(img/back1r.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
}
#ref button{
    color: black;
}
.pg4{
    color: black;
}
#ref>nav {
    display: block;
    width: 100%;
    background-color: silver;
    color: gold;
}
#ref>nav a{
    display: inline-block;
    width: 15%;
    height: 25px;
    color: crimson;
    font-family: 'Montserrat', sans-serif;
}
#ref>nav a:visited {
    color: darkorange;
}
#ref>nav a:hover {
    color: lemonchiffon;
}
#cert {
    background-image: url(img/back3.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#cert button{
    color: blue;
}
#cert>nav {
    display: block;
    width: 100%;
    background-color: #0d0d8c;
    color: #e6cf8e;
}
#cert>nav a{
    display: inline-block;
    width: 15%;
    height: 25px;
    color: gold;
    font-family: 'Montserrat', sans-serif;
}
#cert>nav a:visited {
    color: goldenrod;
}
#cert>nav a:hover {
    color: #e56e43;
}
#ex {
    background-color: black;
    color: #43ea43;
}
#ex>nav {
    display: block;
    width: 100%;
    color: darkgreen;
}
#ex>nav a{
    display: inline-block;
    width: 15%;
    height: 25px;
    color: #43ea43;
    font-family: 'Montserrat', sans-serif;
}
#ex>nav a:visited {
    color: #ec0e3a;
}
#ex>nav a:hover {
    color: lightgreen;
}
@media only screen and (max-width:500px) {
    /* For mobile phones: */
    #navigation, a,.pg1, .pg2, .pg3, .pg4, .pg5 {
        width: 100%;
    }
}
@media only screen and (max-width:500px) {
    /* For mobile phones: */
    #pro{
        background-repeat: no-repeat;
        background-size: 200%;
    }
    #res
    {
        background-repeat: no-repeat;
        background-size: 750%;
    }
    nav>a{
        font-size:2vw;

    }

    #cert{
        font-size: 1.8vw;
    }
}
button {
    background-color: transparent;
    color: white;
    font-size: larger;
}
#hide{
    font-size: 2px;
}
.special {
    background-image: url(img/surprise.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
}